.w-20{
    width:20%;

}
.w-30{
    width:30%;
}
.logotext{
    width: 100px;
    margin: 10%;
}
.exploreIcon {
    width:15px;
    
}
.stories{
    height:100px;
    padding: 10px;
}
.dp{
    width:30px;
    height:30px;
    margin-top: 5px;
    margin-right: 5px;
    margin-bottom: 5px;
}
.post{
    width:400px;
}
.username{
    margin-bottom: 10px;
    padding-top: 5px;
    font-style: sans-serif;
    font-weight: 500;
}
.suggestions{
    width: 80%;
}
.gradientCircle{
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background-image: linear-gradient(60deg, #ffcb00 , #ff4132, #c000b4);
    display: flex;
    align-items: center;
    justify-content: center;
    
}
.innerCircle{
    width: 52px;
    height: 52px;
    border-radius: 50%;
    background-color: var(--theme-color);
    display: flex;
    align-items: center;
    justify-content: center;
    border: 3px solid var(--theme-color);
    
}

.storyDp{
    width: 54px;
    height: 54px;
    
    border-radius: 50%;
    
    
    
}
.profile-pic{
    width:100px;
    height:100px;
    border-radius: 50%;
}
